{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {},
  "root": true,
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-unused-expressions": [
      "error"
    ],
    "strict": [
      "error"
    ]
  }
}
